.ColorBox {
	display: inline-block;
	position: relative;
	width: 20%;
	height: 25%;
	margin: 0 auto;
	cursor: pointer;
	text-transform: uppercase;
	margin-bottom: -4px;
}
.SingleColorBox .ColorBox {
	height: 50%;
}
.ColorBox.go-back {
	background: black;
}
.Copy-btn,
.back-btn {
	width: 100px;
	height: 30px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	margin-left: -50px;
	border: none;
	background-color: rgba(255, 255, 255, 0.3);
	width: 100px;
	height: 30px;
	color: white;
	font-size: 1rem;
	line-height: 30px;
	text-align: center;
	outline: none;
	text-decoration: none;
}
/*.Copy-btn {
	opacity: 0;
}
.ColorBox:hover .Copy-btn {
	opacity: 1;
	transition: 0.5s;
} 
.box-content {
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
	padding: 10px;
	letter-spacing: 1px;
	color: black;
	text-transform: uppercase;
	font-size: 12px;
}

.see-more {
	width: 60px;
	height: 30px;
	display: inline-block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	line-height: 30px;
	background-color: rgba(255, 255, 255, 0.3);
	color: white;
	text-align: center;
	text-transform: uppercase;
	border: none;
	font-size: 12px;
}
.copy-overlay {
	opacity: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	transition: trnasform 0.6s ease-in-out;
	transform: scale(0.1);
} */
/* .copy-overlay:hover {
	opacity: 1;
	transform: scale(50);
	z-index: 10;
	position: absolute;
	transition: 2s;
} */
/* .copy-overlay.show {
	opacity: 1;
	transform: scale(50);
	z-index: 10;
	position: absolute;
}
.copyMsg {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
	transform: scale(0.1);

	color: white;
	opacity: 0;
}
.copyMsg.show {
	opacity: 1;
	transform: scale(1);
	z-index: 25;
	transition: all 0.4s ease-in-out;
	transition-delay: 0.3s;
}
.copyMsg h1 {
	font-weight: 400;
	margin-bottom: 0px;
	padding: 10px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.3);
	width: 100%;
	text-shadow: 0 10px 15px rgb(128, 107, 107);
}
.copyMsg p {
	opacity: 0.8;
	font-size: 2rem;
	font-weight: 100;
} */
